################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure-ad-webapi/.vs
/azure-ad-webapi/bin/Debug/net6.0
/azure-ad-webapi/obj
